*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

background:#070707;

color:white;

font-family:'Poppins',sans-serif;

overflow-x:hidden;

}

.loader{

position:fixed;

width:100%;

height:100%;

background:black;

display:flex;

justify-content:center;

align-items:center;

z-index:99999;

font-size:2rem;

transition:1s;

}

nav{

position:fixed;

top:0;

left:0;

width:100%;

padding:25px 80px;

display:flex;

justify-content:space-between;

align-items:center;

z-index:999;

backdrop-filter:blur(15px);

background:rgba(0,0,0,.2);

}

nav ul{

display:flex;

gap:40px;

list-style:none;

}

nav a{

color:white;

text-decoration:none;

}

.hero{

height:100vh;

position:relative;

overflow:hidden;

}

.hero-img{

position:absolute;

width:100%;

height:100%;

object-fit:cover;

filter:brightness(.35);

}

.hero-content{

position:absolute;

top:50%;

left:10%;

transform:translateY(-50%);

max-width:600px;

}

.hero h1{

font-size:6rem;

line-height:90px;

font-family:'Cormorant Garamond';

}

.hero p{

margin-top:20px;

font-size:1.3rem;

color:#ddd;

}

.hero button{

margin-top:35px;

padding:15px 40px;

border:none;

border-radius:40px;

font-size:1rem;

cursor:pointer;

}

.story{

min-height:100vh;

padding:120px 8%;

display:flex;

align-items:center;

justify-content:space-between;

gap:50px;

position:relative;

}

.story-left{

flex:1;

}

.story-right{

flex:1;

height:700px;

position:relative;

}

.story h2{

font-size:5rem;

line-height:75px;

font-family:'Cormorant Garamond';

margin-bottom:40px;

}

.story-text{

font-size:1.15rem;

line-height:38px;

color:#ddd;

}

.highlight{

margin-top:30px;

font-size:1.5rem;

color:white;

font-weight:600;

}

.story-right img{

position:absolute;

width:280px;

height:380px;

object-fit:cover;

border-radius:25px;

box-shadow:0 20px 50px rgba(0,0,0,.5);

}

.card1{

top:0;
left:0;

}

.card2{

top:120px;
right:30px;

}

.card3{

bottom:0;
left:120px;

  }
.floating{

animation:float 6s ease-in-out infinite;

}

@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-20px);

}

100%{

transform:translateY(0px);

}

}
.reveal{

opacity:0;

transform:translateY(80px);

transition:1s;

}

.reveal.active{

opacity:1;

transform:translateY(0);

}
.quote-section{

margin-top:80px;

padding:40px;

border-left:4px solid white;

background:#111;

border-radius:20px;

}

.known-section{

min-height:100vh;

padding:120px 8%;

background:#0d0d0d;

position:relative;

overflow:hidden;

}

.known-header{

text-align:center;

max-width:800px;

margin:auto;

}

.small-title{

letter-spacing:4px;

font-size:.9rem;

color:#999;

}

.known-header h2{

font-size:5rem;

font-family:'Cormorant Garamond';

margin-top:20px;

margin-bottom:20px;

}

.known-header p{

line-height:35px;

font-size:1.1rem;

color:#d1d1d1;

}

.achievement-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:80px;

}

.achievement-card{

background:#141414;

padding:40px;

border-radius:30px;

transition:.4s;

border:1px solid rgba(255,255,255,.05);

}

.achievement-card:hover{

transform:translateY(-15px);

box-shadow:0 0 40px rgba(255,255,255,.08);

}

.achievement-icon{

font-size:3rem;

margin-bottom:20px;

}

.achievement-card h3{

margin-bottom:15px;

font-size:1.4rem;

}

.achievement-card p{

color:#c8c8c8;

line-height:30px;

}

.timeline{

position:relative;

margin-top:120px;

padding-left:40px;

}

.line{

position:absolute;

left:12px;

top:0;

height:100%;

width:2px;

background:white;

opacity:.2;

}

.timeline-item{

display:flex;

gap:30px;

margin-bottom:60px;

align-items:flex-start;

}

.circle{

width:25px;

height:25px;

border-radius:50%;

background:white;

z-index:10;

}

.timeline-content h4{

font-size:1.3rem;

margin-bottom:10px;

}

.timeline-content p{

color:#cfcfcf;

}

.ending-line{

margin-top:100px;

text-align:center;

}

.ending-line p{

font-size:2rem;

font-family:'Cormorant Garamond';

max-width:900px;

margin:auto;

line-height:50px;

  }

@media(max-width:900px){

.achievement-grid{

grid-template-columns:1fr;

}

.known-header h2{

font-size:3rem;

}

.ending-line p{

font-size:1.5rem;

line-height:40px;

}

}

.know-section{

min-height:100vh;

padding:120px 8%;

display:flex;

align-items:center;

justify-content:space-between;

gap:80px;

background:#070707;

}

.know-left{

flex:1;

display:flex;

justify-content:center;

}

.know-main-image{

width:450px;

height:650px;

object-fit:cover;

border-radius:30px;

box-shadow:0 30px 80px rgba(0,0,0,.5);

}

.know-right{

flex:1;

}

.section-tag{

letter-spacing:5px;

font-size:.85rem;

color:#888;

}

.know-right h2{

font-size:4.8rem;

line-height:80px;

font-family:'Cormorant Garamond';

margin-top:25px;

margin-bottom:40px;

}

.emotion-text{

display:flex;

flex-direction:column;

gap:22px;

}

.emotion-text p{

font-size:1.15rem;

color:#d4d4d4;

line-height:35px;

}

.pause{

font-size:1.5rem !important;

color:white !important;

font-weight:600;

margin-top:20px;

margin-bottom:20px;

}

.invisible-section{

padding:140px 8%;

background:#0b0b0b;

}

.invisible-content{

max-width:1000px;

margin:auto;

}

.invisible-content h2{

font-size:4rem;

font-family:'Cormorant Garamond';

margin-bottom:80px;

text-align:center;

}

.point{

display:flex;

gap:40px;

align-items:center;

margin-bottom:50px;

padding:30px;

background:#121212;

border-radius:25px;

}

.point span{

font-size:2rem;

font-weight:700;

opacity:.3;

}

.point p{

font-size:1.15rem;

line-height:35px;

}

.message-section{

padding:150px 8%;

display:flex;

justify-content:center;

background:black;

}

.message-box{

max-width:900px;

text-align:center;

}

.message-box p{

font-size:3rem;

line-height:70px;

font-family:'Cormorant Garamond';

}

.trust-section{

min-height:100vh;

padding:120px 8%;

display:flex;

justify-content:space-between;

align-items:center;

gap:80px;

background:#080808;

}

.trust-left{

flex:1;

}

.trust-right{

flex:1;

display:flex;

justify-content:center;

}

.trust-left h2{

font-size:4.5rem;

line-height:75px;

font-family:'Cormorant Garamond';

margin-top:20px;

margin-bottom:40px;

}

.trust-lines{

display:flex;

flex-direction:column;

gap:25px;

}

.trust-lines p{

font-size:1.15rem;

line-height:35px;

color:#d6d6d6;

}

.glass-card{

max-width:500px;

padding:50px;

background:rgba(255,255,255,.04);

backdrop-filter:blur(15px);

border-radius:30px;

border:1px solid rgba(255,255,255,.08);

}

.glass-card h3{

font-size:2rem;

margin-bottom:30px;

}

.glass-card p{

line-height:35px;

margin-bottom:15px;

color:#d6d6d6;

}

.highlight-text{

font-size:1.3rem;

color:white !important;

font-weight:600;

margin-top:20px;

}

.letter-section{

padding:140px 8%;

background:#0f0f0f;

display:flex;

justify-content:center;

}

.letter-box{

max-width:900px;

padding:60px;

background:#141414;

border-radius:30px;

}

.letter-box h2{

font-size:3rem;

font-family:'Cormorant Garamond';

margin-bottom:40px;

}

.letter-box p{

line-height:40px;

font-size:1.1rem;

color:#d0d0d0;

margin-bottom:35px;

  }

#secretBtn{

margin-top:20px;

padding:15px 35px;

border:none;

border-radius:50px;

cursor:pointer;

font-size:1rem;

}

#secretMessage{

margin-top:40px;

font-size:1.5rem;

line-height:50px;

display:none;

color:white;

}

.safe-section{

min-height:100vh;

padding:120px 8%;

background:#070707;

}

.safe-intro{

text-align:center;

margin-bottom:100px;

}

.safe-intro h2{

font-size:5rem;

font-family:'Cormorant Garamond';

margin-top:20px;

}

.safe-path{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:35px;

}

.path-item{

padding:40px;

background:#121212;

border-radius:25px;

transition:.4s;

}

.path-item:hover{

transform:translateY(-10px);

}

.path-item h3{

margin-bottom:20px;

font-size:1.5rem;

}

.path-item p{

line-height:35px;

color:#d4d4d4;

}

.safe-message{

padding:150px 8%;

background:#0b0b0b;

display:flex;

justify-content:center;

}

.safe-message-box{

max-width:900px;

text-align:center;

}

.safe-message-box h2{

font-size:5rem;

font-family:'Cormorant Garamond';

margin-bottom:50px;

}

.safe-message-box p{

font-size:1.2rem;

line-height:45px;

color:#d0d0d0;

margin-bottom:30px;

}

.big-line{

padding:180px 8%;

background:black;

text-align:center;

}

.big-line-content p{

font-size:2rem;

line-height:60px;

max-width:1000px;

margin:auto;

font-family:'Cormorant Garamond';

}

.big-line-content h2{

font-size:5rem;

margin-top:50px;

font-family:'Cormorant Garamond';

}

.vault-section{

padding:140px 8%;

background:#080808;

}

.vault-header{

text-align:center;

max-width:900px;

margin:auto;

margin-bottom:80px;

}

.vault-header h2{

font-size:5rem;

font-family:'Cormorant Garamond';

margin-top:20px;

margin-bottom:20px;

}

.vault-header p{

font-size:1.1rem;

color:#d2d2d2;

}

.polaroid-gallery{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.polaroid{

background:white;

padding:15px;

border-radius:10px;

transform:rotate(-2deg);

transition:.4s;

}

.polaroid:nth-child(2){

transform:rotate(2deg);

}

.polaroid:nth-child(3){

transform:rotate(-3deg);

}

.polaroid:nth-child(4){

transform:rotate(3deg);

}

.polaroid:hover{

transform:scale(1.05);

}

.polaroid img{

width:100%;

height:320px;

object-fit:cover;

}

.caption{

padding:15px;

color:black;

font-weight:600;

text-align:center;

}

.memory-notes{

padding:140px 8%;

background:#0e0e0e;

}

.memory-notes h2{

text-align:center;

font-size:4rem;

font-family:'Cormorant Garamond';

margin-bottom:70px;

}

.notes-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}

.memory-card{

background:#171717;

border-radius:25px;

padding:35px;

}

.memory-btn{

width:100%;

padding:20px;

font-size:1rem;

border:none;

cursor:pointer;

border-radius:15px;

}

.memory-content{

display:none;

margin-top:25px;

line-height:35px;

color:#d8d8d8;

}

.secret-vault{

padding:150px 8%;

background:black;

display:flex;

justify-content:center;

}

.secret-box{

text-align:center;

max-width:800px;

}

.secret-box h2{

font-size:4rem;

font-family:'Cormorant Garamond';

margin-bottom:40px;

}

#vaultBtn{

padding:18px 45px;

border:none;

border-radius:50px;

cursor:pointer;

}

#vaultMessage{

display:none;

margin-top:40px;

font-size:1.8rem;

line-height:50px;

}

.final-section{

height:100vh;

position:relative;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

.final-image{

position:absolute;

width:100%;

height:100%;

object-fit:cover;

filter:brightness(.28);

}

.final-overlay{

position:relative;

z-index:5;

text-align:center;

}

.final-overlay h1{

font-size:6rem;

font-family:'Cormorant Garamond';

margin-top:20px;

margin-bottom:20px;

}

.final-overlay p{

font-size:1.3rem;

color:#e2e2e2;

}

.final-letter{

padding:160px 8%;

background:#080808;

display:flex;

justify-content:center;

}

.letter-container{

max-width:900px;

text-align:center;

}

.letter-container p{

font-size:1.4rem;

line-height:55px;

margin-bottom:25px;

}

.big-reveal{

padding:180px 8%;

background:black;

text-align:center;

}

.reveal-content h2{

font-size:2rem;

margin-bottom:30px;

}

.reveal-content h1{

font-size:6rem;

font-family:'Cormorant Garamond';

}

.thankyou-section{

padding:180px 8%;

background:#0b0b0b;

text-align:center;

}

.thankyou-content h2{

font-size:5rem;

font-family:'Cormorant Garamond';

margin-bottom:40px;

}

.thankyou-content p{

font-size:1.4rem;

line-height:50px;

}

.ending-screen{

height:100vh;

background:black;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}

.ending-content{

max-width:900px;

}

.ending-content h1{

font-size:5rem;

font-family:'Cormorant Garamond';

margin-bottom:40px;

}

.ending-content p{

font-size:1.5rem;

line-height:55px;

margin-bottom:50px;

}

.ending-content h2{

font-size:3rem;

font-family:'Cormorant Garamond';

}

.reveal{

opacity:0;

transform:translateY(60px);

transition:all .8s ease;

}

.reveal.active{

opacity:1;

transform:translateY(0);

  }
